.section
	margin-top: 28px
	
.card
	margin: 9px 40px	

.title
	text-align: center
	padding-bottom: 10px

@media screen and ( max-width: 1261px )
	.card
		margin: 9px 15px

@media screen and ( max-width: 800px )
	.card
		width: 320px
		height: 180px
	